* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: DM Sans, sans-serif;
}



/*______________________________________________Variables______________________________________________*/

:root{
  --primary-color: #ffa600; /* Azul */
  --secondary-color: #000000; /* Verde */
  --background-color: #ecf0f1; /* Gris claro */
  --text-color: #2c3e50; /* Gris oscuro */
  --error-color: #e74c3c; /* Rojo */

  
  --font-family: ;
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;

  --margin-small: 8px;
  --margin-medium: 16px;
  --margin-large: 24px;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  --transition-duration: 0.3s;
}




/*______________________________________________Tarjetas______________________________________________*/
.Diseno-tarjetas-1{
  padding-bottom: 1rem;
  border: 0.7px solid #585858;
  border-radius: 15px;
  outline: 2px solid transparent;
  box-shadow: 0 3px 17px rgba(22, 22, 22, 0.1);
  transition: .25s;
  cursor: pointer;
}

.Diseno-tarjetas-1:hover{
  border: 0.3px solid #ffcc00;
  box-shadow: 0 0 5px 1px var(--primary-color);
}


/*______________________________________________Botones______________________________________________*/



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}


span{
  color: #000000;
  font-weight: 700;
  
}

a:hover{
  pointer-events: painted;
  cursor: pointer;
}



/*______________________________________________Efectos Predeterminados______________________________________________*/

.EFX1{
  display: flex;
 justify-content: space-around;
}